includes:
    - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - src
    - tests
  excludePaths:
    analyse:
        - tests/data/doctrine2_fixtures/TestFixture1.php
        - tests/data/doctrine2_fixtures/TestFixture2.php
        - tests/_support/UnitTester.php
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
      - path: tests/
        message: '#Property \S+ is never read, only written#'
      - path: tests/
        message: '#Property \S+ is unused#'
      - path: tests/
        message: '#Method \S+ has parameter \S+ with no type specified#'
      - path: tests/
        message: '#Method \S+ has no return type specified#'
      - path: tests/
        message: '#(?:Method|Property) .+ with generic (?:interface|class) \S+ does not specify its types#'
